*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    font-family: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 1.5;
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", sans-serif;
    color: #333333;
    background-color: #ffffff;
}
a{
    text-decoration: none;
}
img{
    border: none;
}